@import '../../common/styles/sass/variables.scss';

.sponsor {
    border: 1px solid;
    display: flex;
align-items: center;
    height: 80px;
    font-family: 'Russo One', sans-serif;
    color:$textColor;
    opacity: 0.7;
    font-size:15px;
  }