@import '../../common/styles/sass/variables.scss';

.title{
    width:100%;
    font-family: 'Russo One', sans-serif;
    color:$textColorH1;
    font-size:2rem;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
    .title h2{
        margin:0;
    }
}

