@import '../common/styles/sass/variables.scss';

.projectsBlock{
    background-color:$bgColor;
    .projectsContainer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .projects{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            }
            
    }
}


 
