@import '../../common/styles/sass/variables.scss';

.project {
  width: 380px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-wrap: wrap;
  
  .projectIcon {
    border-radius:25px 25px 0 0;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition:all .25s;
    &:hover  {
    background-color: black;
    opacity: 0.9;
    border: none;
    }
    
    .viewBtn{
      border: 1px solid #fff;
      text-decoration: none;
      word-spacing: 2px;
      padding: 10px 30px;
      border-radius: 50px;
      margin-bottom: 20px;
      z-index: 1;
      color:#989aab;
      &:hover{
        filter:none;
        cursor: pointer;
        background: #b08f86;;
        color:#644a39;
        transition:0.3s;
      }
    }
  }
  .projectInfo {
    background: rgba(176, 143, 134, 0.2);
    border-radius:0 0 25px 25px;
    padding: 10px;
    .title {
      font-family: 'Saira Condensed', sans-serif;
      color: $textColorH1;
      font-size: 25px;
      
      
    }
    .description {
      font-family: "Saira Condensed", sans-serif;
      color: $textColorH1;
      font-size: 20px;
      margin:10px;
    }
    
  }
}
