@import '../common/styles/sass/variables.scss';

.mainBlock{
    height: 100vh;
    background-color:$bgColor;
    .text{  
        font-family: 'Kanit', sans-serif;
        color:$textColor;
        font-size: 2rem;
    }
    .photo{
       position: relative;
       z-index: 1;
.image{
    height:400px;
    width:300px;
    background-image:url(../assect/img/imgonline-com-ua-Resize-dTmvyO4qlZq.jpg) ;
    background-size: 100%;
   @media screen and (max-width:1013px){
    height:360px;
    width:260px;
    transition: .5s;
    display:flex;
    align-items: center;
   }
   
}    
} 
}

