.mainBlock{
    height: 100vh;
    background:url(E:\it-incubator\my-work\src\img\photo-1481151500463-1fa2dd2d5dbe.jpg)0 0/100% no-repeat;
}

.text{
    border-radius: 5px;
    padding-left: 5px;
    width: 300px;
    background-color: rgba(99, 96, 92, 30%);
}

.photo{
    width:300px;
height: 400px;
background:url(E:\it-incubator\my-work\src\img\unnamed.jpg);
border-radius: 5px;
}